<h2>Token Details</h2>

<div class ="container">
    <div class="row">
        <div class="col-sm" *ngIf = "leftToken">
            <p> left token </p> <img src="{{leftToken.image_url}}" height="150px" width="300">
            <button (click)="hypLeft()">Hypernate Left</button>
        </div>
        <div class="col-sm" *ngIf = "mainToken">
            <p> main </p>
            <img src="{{leftToken.image_url}}" height="150px" width="300">
            <p> {{mainToken.Original}} </p>
        </div>
        <div class="col-sm" *ngIf = "rightToken">
            <p> right token </p> <img src="{{url}}{{json.image_url}}" height="150px" width="300">
            <button (click)="hypRight()">Hypernate Right</button>
        </div>
        <div>
            <p>{{json}}</p>
        </div>
    </div>
</div>