<div class="container-fluid">
    <h1 class="d-none d-md-block">Forbedring af søgning i Politiets efterretninger</h1>
    <h2 class="d-md-none">Forbedring af søgning i Politiets efterretninger</h2>
    <div>
        <p>Ikke alle ord i politiets efterretninger er blevet genkendt korrekt i OCR-behandlingen.</p>
        <p>Her kan du rette fejlene, således at efterretningerne bliver bedre at søge i og lettere at anvende</p>
        <p>Læs vejledningen før du starter: <a href="https://kbharkiv.dk/ret-efterretninger">https://kbharkiv.dk/ret-efterretninger</a></p>

        <p>Vælg den efterretning du vil rette i oversigten nedenfor. Vælg kun efterretninger, hvor der er gået en time siden sidste rettelse.
        Vi lægger løbende nye efterretninger op.</p>
    </div>

    <h2>Oversigt over efterretninger, der kan rettes</h2>
    <table class="table table-striped table-hover" role="navigation" aria-label="dokument oversigt">
        <caption class="sr-only">Dokumentoversigt</caption>
        <thead>
            <tr class="d-none d-md-table-row">
                <th scope="col">Efterretning</th>
                <th scope="col">Status</th>
                <th scope="col">Sidst rettet</th>
                <th scope="col">Link</th>
            </tr>
        </thead>

        <tbody *ngIf="documentList$ | async as documentList">
            <tr *ngFor="let doc of documentList; index as i;" id="tr-{{doc.docid}}" routerLink="/tokens/{{doc.docid}}" routerLinkActive="active" tabindex="0" role="button" [attr.aria-label]="'doc-'+i">
                <td *ngIf="doc.docid | asyncTimestamp | async as timestamp; else only_id">
                    <h5 class="d-md-none">Efterretning:</h5>
                    <h4 id="doc-{{i}}">Nummer: {{doc.docid}}, {{timestamp['response']['docs'][0].efterretning_date | date: 'dd. MMMM yyyy'}}</h4>
                </td>
                <ng-template #only_id>
                    <td>
                        <h5 class="d-md-none">Efterretning:</h5>
                        <h4 id="doc-{{i}}">Nummer: {{doc.docid}} </h4>
                    </td>
                </ng-template>
                <td *ngIf="!(doc.corrected >= doc.count)">
                    <h5 class="d-md-none">Status</h5>
                    <span>{{(doc.corrected - doc.corrected_by_model)}} rettet ud af {{(doc.count - doc.corrected_by_model)}}</span> 
                </td>
                <td *ngIf="doc.corrected >= doc.count">
                    <h5 class="d-md-none">Status</h5>
                    <span>{{(doc.corrected - doc.corrected_by_model)}} rettet ud af {{(doc.count - doc.corrected_by_model)}}</span> 
                </td>
                <td *ngIf="doc.last_modified">
                    <h5 class="d-md-none">Sidst rettet:</h5>
                    <span>{{doc.last_modified * 1000 | date: 'dd-MM-yyyy kl. HH.mm'}}</span>
                </td>
                <td *ngIf="!doc.last_modified">
                    <h5 class="d-md-none">Sidst rettet:</h5>
                    <span>Ikke rettet før</span>
                </td>
                <td>
					<h5 class="d-md-none">Link:</h5>
                    <button class="btn btn-secondary" [disabled]="doc.corrected == doc.count">Ret efterretning</button>
                </td>
            </tr>
        </tbody>

    </table>

    <form>
        <div class="d-flex m-2">
            <div class="form-group mr-1">
                <label for="specificDocId">Efterretning nr.</label>
                <input [(ngModel)]="specificDocId" id="specificDocId" name="specificDocId" type="text" class="form-control" placeholder="fx. 6148">
            </div>
            <div class="form-group">
                <label for="specificTokenIndex">Hovedord nr.</label>
                <input [(ngModel)]="specificTokenIndex" id="specificTokenIndex" name="specificTokenIndex" type="text" class="form-control" placeholder="fx. 500">    
            </div>
        </div>
        <div class="d-flex m-2">
            <button class="btn btn-secondary" type="submit" (click)="redirectToToken()">Gå til Ord</button>
        </div>
    </form>

    <!-- <div class="row">
        <button class="col btn btn-primary m-2" routerLink="/tokens">Random Token <button>
    </div> -->

</div>
