<div class="row pdf-view-container">
    <!-- <div class="col">
        <pdf-viewer
            [src]           = pdfSrc
            [render-text]   ="true"
            [show-all]      ="false"
            [show-borders]  ="true"
            [page]          = page
            [zoom]          = [(zoomValue)]
        >
        </pdf-viewer>
    </div> -->

    <div class="col">
        <ng2-pdfjs-viewer
            pdfSrc="{{src}}"
            [page]="page"
            [useOnlyCssZoom]="true"
            [showSpinner]="true"
            [zoom] = "tokenFrame"
        >
        </ng2-pdfjs-viewer>
    </div>

</div>
