<div class="container-fluid">
    <form class="border p-5">
        <div class="card-deck">
        
            <div *ngIf = "leftToken" class="card bg-light border-dark">
                <img id="left_token" class="card-img-top" src="{{url}}{{leftToken.image_url}}" alt="left token" title="Token id: {{leftToken.doc_ID +'/'+ leftToken.index}}">

                <div class="card-body">
                    <h5 class="card-title">left token</h5>
                    <div class="card-text">
                        <button class="btn btn-secondary" type="button" (click)="hypLeft()">Hypernate Left</button>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Token: {{leftToken.doc_ID + ' / ' + leftToken.index}}
                </div>
            </div>

            <div *ngIf = "mainToken" class="card bg-light border-dark">
                <img id="main_token" class="card-img-top" src="{{url}}{{mainToken.image_url}}" alt="main token" title="Token id: {{mainToken.doc_ID +'/'+ mainToken.index}}">

                <div class="card-body">
                    <h5 class="card-title">main token</h5>
                    <div class="card-text">
                        <div class="mb-2">
                            <button class="btn btn-secondary mr-2" type="button" (click)="correct(mainToken.firstBest)"> {{mainToken.firstBest}}</button>    
                            <button class="btn btn-secondary mr-2" type="button" (click)="correct(mainToken.secondBest)">{{mainToken.secondBest}}</button>    
                            <button class="btn btn-secondary mr-2" type="button" (click)="correct(mainToken.thirdBest)"> {{mainToken.thirdBest}}</button>
                        </div>
                        <div class="input-group">
                            <input [(ngModel)]="andetInputField" id="andet" name="andet" type="text" class="form-control" placeholder="andet...">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit" (click)="correct(andetInputField)">submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Token: {{mainToken.doc_ID + ' / ' + mainToken.index}}
                </div>
            </div>

            <div *ngIf = "rightToken" class="card bg-light border-dark">
                <img id="right_token" class="card-img-top" src="{{url}}{{rightToken.image_url}}"  alt="right token" title="Token id: {{rightToken.doc_ID +'/'+ rightToken.index}}">

                <div class="card-body">
                    <h5 class="card-title">right token</h5>
                    <div class="card-text">
                        <button class="btn btn-secondary" type="button" (click)="hypRight()">Hypernate Right</button>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Token: {{rightToken.doc_ID + ' / ' + rightToken.index}}
                </div>
            </div>

        </div>

    </form>
</div>



<router-outlet></router-outlet>