<div *ngIf="mainToken$ | async; else loadingIndicator">
    <app-tokens [mainToken$] = "mainToken$" [(docTotal)]="tokenList.length" [(docCorrected)]="correctedList.length" [(modelCorrected)]="modelCorrected" (getNextMainToken)="getNextTokenFromList()" (getPrevMainToken)="getPreviousTokenFromList()"></app-tokens>
</div>

<ng-template #loadingIndicator>
    <div class="row justify-content-center m-2">
        <h4>Indlæser efterretning nr: {{docId}}</h4>
    </div>
    <div class="row justify-content-center m-2">
        <div class="spinner-border text-primary m-5 align-self-center" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>


<router-outlet></router-outlet>