<div *ngIf="mainToken$ | async; else loadingIndicator">
    <app-tokens [mainToken$] = "mainToken$" [(docTotal)]="tokenList.length" [(docCorrected)]="correctedList.length" (getNextMainToken)="getNextTokenFromList()" (getPrevMainToken)="getPreviousTokenFromList()"></app-tokens>
</div>

<ng-template #loadingIndicator>
    <div class="row justify-content-center">
        <div class="spinner-border text-primary m-5 align-self-center" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <p>Indlæser listen af tokens for dokument: {{docId}}</p>
    </div>
</ng-template>


<router-outlet></router-outlet>