.card-img-top {
    width: auto;
    height: auto;
    object-fit: cover;
    @media ( min-width: 1200px ) {

    }
}

.card-deck {
    max-width: 100%;
    display: block;
    @media (min-width: 1200px) {
        display: flex;
    }
}

.progress {
    height: 20px;
}

.pdf-viewer-container {
    min-height: 50%;
}