<div class="container-fluid">
    <a routerLink="/doc-overview" routerLinkActive="active">
        <-- til dokumentoversigten
    </a>

    <h1>Ret efterretning</h1>

    <p>Ordet, der skal rettes er ordet i midten kaldet 'Hovedordet'</p>
    <p>Vælg en af de foreslåede muligheder , eller skriv det rigtige ord og klik gem.
        Skal ordet lægges sammen med ordet før eller efter hovedordet klikker du på knappen 'Læg sammen' enten ved billedet til højre eller venstre for hovedordet.</p>
    <p>Læs vejledningen før du starter: <a href="https://kbharkiv.dk/ret-efterretninger">https://kbharkiv.dk/ret-efterretninger</a></p>
    <form class="border p-sm-5 ">
        <div class="row justify-content-center">
            <div class="col-lg card-deck">

                <div id="left_token_card" class="card bg-light border-dark mb-sm-2">
                    <ng-container *ngIf="leftToken$ | async | tokensPipe as leftToken; else loadingIndicator">
                        <img id="left_token_img" class="card-img-top" src="{{url}}{{leftToken.image_url}}" alt="left token" title="Token id: {{leftToken.doc_ID +'/'+ leftToken.index}}">
    
                        <div class="card-body">
                            <h5 class="card-title">Ordet før</h5>
                            <div class="card-text">
                                <button id="hyp_left_btn" class="btn btn-secondary" type="button" (click)="hypLeft()">Læg sammen</button>
                            </div>
                            <div class="input-group mt-2">
                                <button ng class="btn btn-secondary" type="submit" (click)="correct(andetInputField, 'left')">Gem og læg sammen</button>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Ord nr. {{leftToken.index}}
                        </div>
                    </ng-container>
                </div>
    
                <div id="main_token_card" class="card bg-light border-dark mb-sm-2">
                    <ng-container *ngIf="mainToken$ | async | tokensPipe as mainToken; else loadingIndicator">
                        <img id="main_token_img" class="card-img-top" src="{{url}}{{mainToken.image_url}}" alt="main token" title="Token id: {{mainToken.doc_ID +'/'+ mainToken.index}}">
    
                        <div class="card-body">
                            <h5 class="card-title">Hovedordet</h5>
                            <div class="card-text">
                                <div id="main_btn_group" class="mb-2">
                                    <button class="btn btn-secondary mr-2" type="button" (click)="correct(mainToken.firstBest)" >{{mainToken.firstBest}}</button>
                                    <button class="btn btn-secondary mr-2" type="button" (click)="correct(mainToken.secondBest)">{{mainToken.secondBest}}</button>
                                    <button class="btn btn-secondary mr-2" type="button" (click)="correct(mainToken.thirdBest)" >{{mainToken.thirdBest}}</button>
                                    <button class="btn btn-secondary mr-2" type="button" (click)="correct(mainToken.fourthBest)">{{mainToken.fourthBest}}</button>
                                </div>
                                <div class="input-group">
                                    <input [(ngModel)]="andetInputField" id="andet" name="andet" type="text" class="form-control" placeholder="andet...">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="submit" (click)="correct(andetInputField)">Gem</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Ord nr. {{mainToken.index}}
                        </div>
                    </ng-container>
                </div>
    
                <div id="right_token_card" class="card bg-light border-dark mb-sm-2">
                    <ng-container *ngIf="rightToken$ | async | tokensPipe as rightToken; else loadingIndicator">
                        <img id="right_token_img" class="card-img-top" src="{{url}}{{rightToken.image_url}}" alt="right token" title="Token id: {{rightToken.doc_ID +'/'+ rightToken.index }}">
    
                        <div class="card-body">
                            <h5 class="card-title">Ordet efter</h5>
                            <div class="card-text">
                                <button id="hyp_right_btn" class="btn btn-secondary" type="button" (click)="hypRight()">Læg sammen</button>
                            </div>
                            <div class="input-group mt-2">
                                <button class="btn btn-secondary" type="submit" (click)="correct(andetInputField, 'right')">Gem og læg sammen</button>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Ord nr. {{rightToken.index}}
                        </div>
                    </ng-container>
                </div>    
            </div>

        </div>
        
        <div class="row justify-content-center">
            <button class="col-4 btn btn-secondary mr-2" type="button" (click)="refreshToken()">Genindlæs hovedordet</button>            
            <ng-container *ngIf="mainToken$ | async | tokensPipe as mainToken"> 
                <button class="col-4 btn btn-danger mr-2" type="button" (click)="discardToken()">Slet hovedordet</button>
                <button id="toggleMetaData" class="btn btn-secondary mr-2" type="button" (click)="toggleMetadata = !toggleMetadata">Se hele siden</button>
                <button class="btn btn-secondary mr-2" type="button" (click)="skipToken()">Spring dette token over</button>
            </ng-container>
        </div>

        <div class="row justify-content-center m-4" *ngIf="docTotal">
            <div class="col">
                <label for="docProgress">Du har rettet: {{sessionCorrected}} ord, ud af i alt: {{docTotal}} ord.</label>
                <div id="docProgress" class="progress">
                    <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': docCorrected/docTotal*100 + '%'}" aria-valuemin="0" [attr.aria-valuenow]="docCorrected" [attr.aria-valuemax]="docTotal"></div>
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': sessionCorrected/docTotal*100 + '%'}" aria-valuemin="0" [attr.aria-valuenow]="sessionCorrected" [attr.aria-valuemax]="docTotal"></div>
                </div>
            </div>
        </div>

    </form>

</div>

<div *ngIf="toggleMetadata">
    <div class="container-fluid" *ngIf="mainToken$ | async | tokensPipe as mainToken">
        <ng-container *ngIf="leftToken$ | async | tokensPipe as leftToken" >
        <h2>Hovedtoken information</h2>
        <section class="row">
        
            <div class="col-lg-6 pdf-viewer-container">
                <app-pdf-viewer [src] = "documentSrc" [page] = "mainToken.page + 1" [frame] = leftToken.frame>
                </app-pdf-viewer>
            </div>
    
            <div class="col-lg-6">
                <h4 id="metadata">Metadata</h4>
                <table class="table table-responsive d-table table-striped" aria-labelledby="metadata">
                    <caption class="sr-only">Data om token</caption>
                    <tbody>
                        <tr *ngFor="let item of mainToken | keyvalue">
                            <th>
                                {{item.key}}
                            </th>
                            <td>
                                {{item.value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
         
        </section>
        </ng-container>
    </div>
</div>


<ng-template #loadingIndicator>
    <div class="spinner-border text-primary m-5 align-self-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>

<router-outlet></router-outlet>